# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\UNI\3. KURTSOA\1. KUATRI\ISAD\ITELLIJ WORKSPACE\isadjavafx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
